.flexRowContent--container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 16px;
}

.flexRow--section-title {
  margin-top: 16px;
  margin-bottom: 12px;
}

@media screen and (min-width: 992px) {
  .flexRowContent--container {
    padding: 0 24px;
    justify-content: center;
  }

  .flexRow--section-title {
    margin-top: 40px;
    margin-bottom: 16px;
  }
}
