.paragraph--navegue-por-casa-titulo {
  font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  
  color: #0f1724;

  font-size: 12px;
  line-height: 17px;  
}

@media screen and (min-width: 768px) and (max-width: 992px)  {

  .paragraph--navegue-por-casa-titulo {
    font-size: 16px;
    line-height: 17px;
  }

}

@media screen and (min-width: 992px) {

  .paragraph--navegue-por-casa-titulo {
    font-size: 20px;
    line-height: 24px;
  }

}