.flexRow--titulo-navegue-por-casas {
  margin-top: 32px;
  margin-bottom: 12px;
}

.flexRow--navegue-por-casas {
  margin-top: 12px;
  margin-bottom: 32px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .flexRowContent--navegue-por-casas .stretchChildrenWidth {
    margin: 0 8px;
  }
}
