.imageElement--logo-navegue-por-casas {
  border-radius: 50%;
  height: auto;
  outline-width: 4px;
  outline-style: solid;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .imageElement--logo-navegue-por-casas {
    outline-width: 6px;
  }
}

.imageElement--logo-navegue-por-casas--controll {
  outline-color: #d9004f;
}

.imageElement--logo-navegue-por-casas--travellog {
  outline-color: #c500b1;
}

.imageElement--logo-navegue-por-casas--dreamscape {
  outline-color: #00bdbc;
}

.imageElement--logo-navegue-por-casas--bitsized {
  outline-color: #4917bc;
}

.imageElement--logo-navegue-por-casas--atmosphere {
  outline-color: #002e94;
}

.imageElement--logo-navegue-por-casas--speedware {
  outline-color: #ff9600;
}

@media screen and (min-width: 992px) {
  .imageElement--logo-navegue-por-casas {
    outline-width: 0.5px;
    outline-color: #e9e9e9;
  }

  .imageElement--logo-navegue-por-casas:hover {
    cursor: pointer;
    outline-width: 8px;
  }

  .imageElement--logo-navegue-por-casas--controll:hover {
    outline-color: #d9004f;
  }

  .imageElement--logo-navegue-por-casas--travellog:hover {
    outline-color: #c500b1;
  }

  .imageElement--logo-navegue-por-casas--dreamscape:hover {
    outline-color: #00bdbc;
  }

  .imageElement--logo-navegue-por-casas--bitsized:hover {
    outline-color: #4917bc;
  }

  .imageElement--logo-navegue-por-casas--atmosphere:hover {
    outline-color: #002e94;
  }

  .imageElement--logo-navegue-por-casas--speedware:hover {
    outline-color: #ff9600;
  }
}
