.flexRow--casa-hc {
    padding-top: 24px;
    padding-bottom: 24px;
}

.flexRow--casa-hc-par {
    background-color: #CCCFD8;
}

.flexRowContent--casa-hc-par {
    flex-direction: row-reverse;
}

.flexRow--slider-cta-casas-hc {
    margin-top: 80px;
}