.paragraph--titulo-quem-somos {
  font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-style: normal;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #0f1724;

  font-size: 18px;
  line-height: 18px;
}

.paragraph--texto-quem-somos {
  font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 500;
  color: #0f1724;

  font-size: 18px;
  line-height: 20px;
}
