.deleteIcon,
.productListUnavailableItemsMessage {
  display: none;
}

.productBrandName {
  font-family: "Futura", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  color: #828282;
}

.productName {
  font-family: "Futura", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}

.removeButtonContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.removeButton::before {
  width: 20px;
  height: 20px;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.23299 19.2441C7.61688 19.221 7.87276 18.9662 7.84717 18.642L7.20745 8.52203C7.18186 8.19782 6.90036 7.96623 6.54206 7.98939C6.18376 8.01255 5.92783 8.26729 5.95342 8.5915L6.59314 18.7115C6.61873 18.9894 6.90029 19.2441 7.23299 19.2441V19.2441Z' fill='%23142032'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3806 19.2442C10.7389 19.2442 11.0204 18.9895 11.0204 18.6653V8.54526C11.0204 8.22105 10.7389 7.96631 10.3806 7.96631C10.0223 7.96631 9.74072 8.22105 9.74072 8.54526V18.6653C9.74072 18.9895 10.0223 19.2442 10.3806 19.2442Z' fill='%23142032'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.477 19.2445C13.8353 19.2445 14.1168 19.0129 14.1424 18.7119L14.7822 8.59186C14.8078 8.26765 14.5263 8.0129 14.1936 7.98975C13.8353 7.96659 13.5538 8.22133 13.5282 8.52238L12.8883 18.6424C12.8627 18.9434 13.1443 19.2213 13.477 19.2445Z' fill='%23142032'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.7335 2.64H18.8778C19.7222 2.64 20.4133 3.26526 20.3877 4.00632V4.9558C20.3877 5.72 19.6967 6.34526 18.8521 6.34526H18.6218L17.5213 19.9621C17.4445 21.0968 16.3696 22 15.1155 22H5.6207C4.36667 22 3.31736 21.0968 3.21507 19.9621L2.11455 6.36842H1.88415C1.0397 6.36842 0.348633 5.74316 0.348633 4.97894V4.02948C0.348633 3.26526 1.0397 2.64 1.88415 2.64H7.0027L7.38661 1.11157C7.5658 0.463165 8.20552 0 8.9478 0L11.8141 0.0231628C12.5564 0.0231628 13.2218 0.509476 13.3753 1.1579L13.7335 2.64V2.64ZM8.94766 1.13474C8.79402 1.13474 8.64051 1.22737 8.61497 1.36632L8.30781 2.64H12.4794L12.1723 1.38947C12.1211 1.25052 11.9931 1.1579 11.8396 1.1579L8.94766 1.13474ZM18.8776 5.21053C19.0056 5.21053 19.1336 5.1179 19.1336 4.97894V4.02948C19.1336 3.91368 19.0311 3.7979 18.8776 3.7979H1.88415C1.75617 3.7979 1.6282 3.89053 1.6282 4.02948V4.97894C1.6282 5.09474 1.73063 5.21053 1.88415 5.21053H18.8776V5.21053ZM16.2928 19.8926C16.2416 20.4484 15.7297 20.8653 15.1412 20.8653H5.64624C5.03206 20.8653 4.54585 20.4484 4.49464 19.8926L3.39412 6.36842H17.3676L16.2928 19.8926V19.8926Z' fill='%23142032'/%3E%3C/svg%3E");
}

.quantityInputContainer :global(.vtex-dropdown),
.quantityDropdownMobileContainer :global(.vtex-dropdown),
.quantityDropdownContainer :global(.vtex-dropdown) {
  border: 1px solid #142032 !important;
  border-radius: 3px;
}

.quantityInputContainer :global(.vtex-dropdown__container),
.quantityDropdownMobileContainer :global(.vtex-dropdown__container),
.quantityDropdownContainer :global(.vtex-dropdown__container) {
  max-height: 30px;
}

.quantityDropdownMobileContainer :global(.vtex-dropdown__arrow),
.quantityDropdownContainer :global(.vtex-dropdown__arrow) {
  color: #142032;
}

.quantityInputContainer :global(.vtex-styleguide-9-x-input),
.quantityDropdownMobileContainer :global(.vtex-dropdown__button),
.availabilityMessageText,
.quantityDropdownContainer :global(.vtex-dropdown__button) {
  color: #142032;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-align: center;
}

.quantityInputContainer :global(.vtex-input-prefix__group) {
  border: 1px solid;
}

.quantitySelectorWrapper .inputContainer {
  width: 2rem;
}

@media screen and (min-width: 992px) {
  .quantitySelectorWrapper .inputContainer {
    width: 3rem;
  }
}

.quantitySelectorWrapper .quantitySelectorButton {
  background-color: #f2f4f5;
  color: #727273;
}

.quantitySelectorWrapper .quantitySelectorButton:hover {
  background-color: #e3e4e6;
}

.price {
  font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.availabilityMessageText {
  color: #171714;
  font-size: 14px;
  letter-spacing: normal;
}

.availabilityMessageContainer {
  background-color: #ffc62a;
}

@media screen and (max-width: 768px) {
  .productName {
    font-size: 14px;
  }

  .availabilityMessageText,
  .productBrandName {
    font-size: 9px;
    line-height: normal;
  }
}

.unitPriceContainer,
.productPriceContainer {
  margin: 0 8px;
}

.quantitySelectorButton,
.inputContainer {
  border-style: none;
}

.inputContainer {
  padding-left: 2px;
  padding-right: 2px;
  width: 4rem;
}

.productImageContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productImage {
  object-fit: cover;
  width: 100%;
  height: 100%
}
