.minicartWrapperContainer {
  padding-left: 15px;
}

.openIconContainer {
  padding: 0px;
}

.openIconContainer :global(.vtex-button) {
  transition: all 0.3s ease-in-out;
  border: none;
}

.minicartContainer :global(.vtex-button):focus,
.minicartContainer :global(.vtex-button):hover {
  background-color: transparent;
}

.minicartContainer:focus,
.minicartContainer:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  .minicartContainer .openIconContainer {
    z-index: 2;
    padding-right: 40px;
  }

  .minicartContainer::after {
    content: "Minha Sacola";
    max-width: 40px;
    position: absolute;
    left: 65px;

    font-family: "VTEX Trust Bold", San Francisco, -apple-system, helvetica,
      sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFF;
  }
}

.minicartIconContainer {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='40' viewBox='0 0 32 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31 33.5415L28.8394 9.19171C28.8005 8.70985 28.3964 8.34456 27.9067 8.34456H23.3523C23.3446 4.29534 20.0492 1 16 1C11.9508 1 8.65544 4.29534 8.64767 8.34456H4.09326C3.6114 8.34456 3.20725 8.70985 3.16062 9.19171L1 33.5415C1 33.5725 1 33.5959 1 33.6269C1 36.3394 3.49482 38.5466 6.55699 38.5466H25.443C28.5052 38.5466 31 36.3394 31 33.6269C31 33.5959 31 33.5725 31 33.5415ZM16 2.86529C19.0233 2.86529 21.4793 5.32124 21.487 8.34456H10.513C10.5207 5.32124 12.9767 2.86529 16 2.86529ZM25.443 36.6736H6.55699C4.53627 36.6736 2.8886 35.329 2.86529 33.658L4.94819 10.2098H8.64767V13.4819C8.64767 13.9948 9.06736 14.4145 9.58031 14.4145C10.0933 14.4145 10.513 13.9948 10.513 13.4819V10.2098H21.487V13.4819C21.487 13.9948 21.9067 14.4145 22.4197 14.4145C22.9326 14.4145 23.3523 13.9948 23.3523 13.4819V10.2098H27.0518L29.1347 33.6658C29.1114 35.329 27.4637 36.6736 25.443 36.6736Z' fill='%23F9F9F9' stroke='%23F9F9F9' stroke-width='1.37366'/%3E%3C/svg%3E");
  width: 35px;
  height: 30px;
  background-size: contain;
  background-position: center;
  margin-bottom: 4px;
}

@media screen and (min-width: 992px) {
  .minicartIconContainer {
    width: 40px;
    height: 35px;
  }
}

.openIconContainer :global(.vtex-button__label) {
  padding-left: 0px !important;
}

.cartIcon {
  display: none;
}

.minicartQuantityBadge {
  font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
    sans-serif;
  background: #FF5604;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  top: -6px;
  right: -2px;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  .minicartQuantityBadge {
    font-size: 12px;
    top: -3px;
    right: -3px;
    width: 1rem;
  }
}

.minicartTitle {
  font-size: 0px;
  text-align: center;
  margin-top: 20px;
}

.closeIconButton {
  position: absolute;
  top: 22px;
  left: 20px;
}

.closeIcon {
  display: none;
}

.closeIconButton::before {
  content: "X";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f4f4f;
}

.minicartTitle::before {
  content: "Minha sacola";
  font-family: "Futura", San Francisco, -apple-system, helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.drawer {
  min-width: 500px !important;
  max-width: 500px !important;
}

.minicartCheckoutButton :global(.vtex-button) {
  transition: all 0.3s ease;
  min-height: 48px;
  outline: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  background-color: #142032;
  margin-bottom: 10px;
  border: 4px solid #142032;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  text-transform: none;
  font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-size: 18px;

  transition: all 0.3s ease-in-out;
}

.minicartCheckoutButton:hover :global(.vtex-button__label) {
  opacity: 0.7;
}

.minicartSideBarContentWrapper {
  padding-top: 10px;
  height: 97vh !important;
}

@media screen and (max-width: 1024px) {
  .minicartWrapperContainer {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
  }

  .drawer {
    min-width: unset !important;
  }

  .minicartTitle {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .drawer {
    width: 100% !important;
  }
}

.minicartProductListContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  margin: 0;
}

.minicartProductListContainer::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

.minicartProductListContainer::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #767576;
}

.minicartSummary--minicart-summary--container {
  font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
}
