.flexRow--header {
  background-color: #142032;
}

.flexRow--header-mobile {
  padding: 8px 16px 0px 16px;
}

.flexRowContent--header-mobile {
  justify-content: space-around;
  margin: 0 auto;
}

.flexRowContent--main-header,
.flexRowContent--main-header-mobile,
.flexCol--category-menu{
  max-width: 80em;
  background: #142032!important;
}
.flexRowContent--main-header,
.flexRowContent--menu-desktop{
  background-color: #142032;
  color: #fff;
  margin: 0 auto;
}

.flexRow--login--container{
  display: flex!important;
  align-items: center;
  position: relative;
}