.container :global(.vtex-button .profile),
.container :global(.vtex-login-2-x-label){
  color: #fff!important;
}
.container :global(.vtex-button:hover),
.container :global(.vtex-button:active),
.container :global(.vtex-button:focus),{
  background: transparent;
  text-decoration: underline;
  opacity: 0.7;
}