.flexRow--header {
  background-color: #142032;
}

.flexRow--header-desktop {
  padding: 16px;
}

.flexRowContent--header-desktop {
  justify-content: space-between;
}

.flexRowContent--menu-desktop {
  justify-content: space-around;
}

.flexRow--header-mobile {
  padding: 8px 16px 0px 16px;
}

.flexRowContent--header-mobile {
  justify-content: space-between;
  margin: 0 auto;
}

.flexRow--search-mobile {
  padding: 0px 16px;
}

.flexRow--login--container{
  display: flex!important;
  align-items: center;
  position: relative;
}