.menuItem:hover{
  cursor: pointer;
  background: #ff8bd9;
}
.styledLinkContent{
  color: #fff;
}

@media only screen and (max-width: 580px){
  .menuContainer{
    display: flex;
    flex-direction: column;
  }
}